<!-- <div style="height: 100px; width: 100px" ng-repeat="tweet in competitions">
			<canvas id="doughnut" class="chart chart-doughnut"
	 		 chart-data="data" chart-labels="labels">
			</canvas> -->
<!-- <ul></ul> -->
			
<!-- </div> -->
<div class="index">


<div class="ui grid">

<div id="barGraph" class="twelve wide column">
<h2>All Competition Results</h2>
<canvas id="bar" class="chart chart-bar"
  chart-data="data" chart-colours="colours" chart-labels="labels">
</canvas>
</div>

<div class="four wide column">
    <i style="margin-left: 20px; color: #ead61c" class="big twitter icon">#tweelA</i> 
   
    <p></p>
    <p></p>

    <span style="font-size:125%; margin-top: 5px; margin-left: 20px;"></span>

    <a class="item" href="/#/new"><button class="ui teal button">
      Create a competition
    </button></a>
    <p style="margin-left: 20px; margin-top: 5px;"> The creator can specify unique hashtags that he or she wants the voters to use, or simply just use common hashtags to see what is more popular on twitter in this exact moment!</p>

    <i style="margin-left: 20px; color: #4d1b7b" class="big twitter icon">#tweelB</i> 
    
</div>
</div>


<p></p>
<div id="search" class="ui medium icon input" style="padding-bottom: 1%;">
<input ng-model="search" placeholder="Search By Name" type="text">
<i class="search icon"></i>
</div>

<div class="overflow">
<table class="ui celled table">
  <thead>
    <tr>
      <th>Competition Name</th>
      <th>Status</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="comp in competitionsIndex | filter: search" >
      <td><a href="#/competitions/{{comp._id}}">{{comp.name}}</a></td>
      <td>
        <span ng-show="comp.is_live">Live</span>
        <span class="positive" ng-show="!comp.is_live">Complete</span>
      </td>
      <td ng-show="!comp.is_live" class="positive">{{comp.key1.word}} {{comp.key1.tweets.length}} - {{comp.key2.word}} {{comp.key2.tweets.length}}</td>
      <td ng-show="comp.is_live">{{comp.key1.word}} {{comp.key1.tweets.length}} - {{comp.key2.word}} {{comp.key2.tweets.length}}</td>
    </tr>
  </tbody>
</table>
</div>

<!--   <ul class="bg-blocks list-unstyled"> css not working 
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
 -->
</div>